body {
    background-color: #aaddee;
}

head {
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 40px;
    top: 50px;
    color: #020049;
}

.row {
    width: 300px;
    border: solid black 2px;
    text-align: center;
}

button {
    /*Not working*/
    align-self: center;
}